/* gothic-a1-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Gothic A1";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/gothic-a1-v13-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* gothic-a1-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Gothic A1";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/gothic-a1-v13-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* gothic-a1-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Gothic A1";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/gothic-a1-v13-latin-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  color: rgb(0, 0, 0);
  font-family: Gothic A1;
}

.wrapper {
  max-width: 1152px;
  margin: 0 auto;
  padding: 0 15px;
}

.header_wrapper {
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: 0.2s linear;
  z-index: 999;
}

.header_nav {
  display: block;
}

.header_list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  padding: 0px 15px;
}

.header_link {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  transition: opacity 0.2s ease;
}

.header_item {
  margin-right: 30px;
}

.header_item:last-child {
  margin-right: 0px;
}

.header_link:hover,
.header_link:focus,
.header_link:active {
  opacity: 0.6;
}

.main {
  display: block;
}

.page1 {
  min-height: 100vh;
  background: linear-gradient(
      287deg,
      #450e4b 0%,
      #4a0e51 10.48%,
      rgba(219, 9, 111, 0) 100%
    ),
    #d32076;
  background-size: cover;
  padding-top: 125px;
  padding-bottom: 0px;
}

/*это в медиа прописать % для большого экрана и для маленького*/
.p1_info {
  min-height: 680px;
  background: url(../img/header.png) no-repeat right;
  background-position: right 0% bottom 0%;
}

.p1_text {
  width: 100%;
  padding-top: 240px;
  padding-bottom: 244px;
  margin: 0 auto;
}

.p1_title {
  color: #fff;
  font-family: Gothic A1;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: 80px;
  padding-bottom: 10px;
}

.p1_sub_title {
  color: #fff;
  font-family: Gothic A1;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 44px;
  padding-bottom: 25px;
}

.get_app {
  color: #fff;
  text-align: center;
  font-family: Gothic A1;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;

  padding: 20px 40px;
  border-radius: 3px;
  background: #fc0a7e;
  border: 0;
  transition: background 0.2s ease;
}

.get_app:hover,
.get_app:active,
.get_app:focus {
  background: #f5499d;
}

.p1_arrow_pic {
  position: absolute;
  left: 50%;
  animation: move 2s infinite;
}

@keyframes move {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-0.5rem);
  }

  100% {
    transform: translateY(0);
  }
}

.page2 {
  background: #1b1b1b;
  background-size: cover;
}

.p2_info {
  padding-top: 100px;
}

.gray_title {
  color: #a8a8a8;
  text-align: center;
  font-family: Gothic A1;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 166.667% */
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-bottom: 30px;
}

.p2_title {
  color: #fff;
  text-align: center;
  font-family: Gothic A1;
  font-size: 38px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
  padding-bottom: 55px;
}

.page3 {
  padding-top: 80px;
}

.p3_info_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0 116px;
  align-items: center;
  justify-items: center;
  align-items: center;
}

.p3_info {
  max-width: 450px;
}

.p3_info_padd {
  padding-left: 30px;
}

.p3_title {
  color: #000;
  font-family: Gothic A1;
  font-size: 38px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
  padding-bottom: 22px;
}

.p3_gray_title {
  color: #a8a8a8;
  font-family: Gothic A1;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 166.667% */
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-bottom: 30px;
}

.p3_about {
  color: #6b6b6b;
  font-family: Gothic A1;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 58px;
}

.pluses {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 62px;
  padding: 0 102px;
  padding-top: 160px;
}

.plus_pic {
  padding-bottom: 40px;
}

.plus_pic_img {
  display: block;
  margin-inline: auto;
}

.plus_title {
  color: #000;
  text-align: center;
  font-family: Gothic A1;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  padding-bottom: 17px;
}

.plus_about {
  color: #6b6b6b;
  font-family: Gothic A1;
  font-size: 16px;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  padding-bottom: 163px;
}

.pluses_num {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 62px;
  padding: 0 102px;
  padding-bottom: 170px;
}

.plus_num_title {
  color: #333;
  text-align: center;
  font-family: Gothic A1;
  font-size: 59px;
  font-style: normal;
  font-weight: 400;
  line-height: 90px;
}

.plus_num_about {
  color: #000;
  text-align: center;
  font-family: Gothic A1;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}



.eat_info_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 116px;
    align-items: center;
    padding-bottom: 160px;
  }

.eat_about {
    color: #6b6b6b;
    font-family: Gothic A1;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}